.body{
    width: 100%;
    padding-top: 80px;
}

.container{
    width: 600px;
    margin-bottom: 100px;
    background-color: var(--color-tertiary);
    border-radius: 10px;
    box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.1);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login{
    width: 100%;
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.submit-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-danger{
    font-size: small;
}