<div *ngIf="genres">
    <div class="genre-card" *ngFor="let genre of currentGenres">
        <button [attr.disabled]="genre.page===1? true : null"  class="navigator-left" (click)="changeGenrePage(-1, genre)">
            <img class="arrow" src="../../../../assets/images/icons/chevron-left.svg" alt="left">
        </button>
        <button  [attr.disabled]="genre.page===3? true : null" class="navigator-right" (click)="changeGenrePage(1, genre)">
            <img class="arrow" src="../../../../assets/images/icons/chevron-right.svg" alt="right">
        </button>
        <h2 class="genre-name">{{genre.name}}</h2>
        <div class="genre-movies">  
            <div class="genre-movie" *ngFor="let movie of genre.movies" (click)="seeDetails(movie.id)">
                <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w300'+movie.poster_path" alt="Movie poster">
                <div class="hover-filter">
                    <p class="movie-title">{{movie.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-navigator">
        <button [attr.disabled]="currentPage==0? true : null" (click)="getGenres(-1)" class="navigator-left">
            <img class="arrow" src="../../../../assets/images/icons/chevron-left.svg" alt="left">
        </button>
        <button [attr.disabled]="currentPage*3>=genres.length-1? true : null" (click)="getGenres(1)" class="navigator-right">
            <img class="arrow"  src="../../../../assets/images/icons/chevron-right.svg" alt="right">
        </button>
    </div>
</div>