<div class="container-grid" *ngIf="query.length<3">
    <div class="genre" *ngFor="let genre of genres">
        <a [href]="'/genres/' + genre.id" class="genre__link">
        <div class="name-container">
            <p class="genre-name">{{genre.name}}</p>
        </div>
        <img class="genre-bg" [src]="'../../../../assets/images/genres/bg-genre-'+genre.id+'.svg'" alt="" >
        </a>
    </div>
</div>

<div class="container-grid" *ngIf="movies.length>0; else elseBlock">
    <div class="genre-movie" *ngFor="let movie of movies">
        <img *ngIf="movie.poster_path" class="movie-poster" [src]="'https://image.tmdb.org/t/p/w300'+movie.poster_path" alt="">
        <div class="hover-filter">
            <p class="movie-title">{{movie.title}}</p>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div *ngIf="query.length>=3; else emptyBlock" class="no-results">
        <img class="no-results-image" src="../../../../assets/images/no-results.svg">
    </div>
    <ng-template #emptyBlock>
        <div *ngIf="query.length>=1" class="empty">
            Ingresa mas caracteres
        </div>
    </ng-template>
</ng-template>