<footer class="footer">
  <a class="footer__logo" href="#">
    <img
      class="footer__logo-img"
      src="assets/images/logo-secondary-short.svg"
      alt="Footer logo"
    />
  </a>
  <div class="footer__content">
    <h2 class="footer__content-title">Cuenta</h2>
    <ul class="user-list">
      <li class="user-list__item">
        <a class="user-list__link" href="#">Ver perfil</a>
      </li>
      <li class="user-list__item">
        <a class="user-list__link" href="#">Ver Lista de favoritos</a>
      </li>
      <li class="user-list__item">
        <a class="user-list__link" href="#">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
  <div class="footer__icons">
    <a class="footer__icon" href="#">
      <svg class="feather">
        <use xlink:href="assets/images/icons/feather-sprite.svg#facebook"/>
      </svg>
    </a>
    <a class="footer__icon" href="#">
      <svg class="feather">
        <use xlink:href="assets/images/icons/feather-sprite.svg#instagram"/>
      </svg>
    </a>
    <a class="footer__icon" href="#">
      <svg class="feather">
        <use xlink:href="assets/images/icons/feather-sprite.svg#github"/>
      </svg>
    </a>
    <a class="footer__icon" href="#">
      <svg class="feather">
        <use xlink:href="assets/images/icons/feather-sprite.svg#figma"/>
      </svg>
    </a>
  </div>
</footer>
