.container {
  height: auto;
  width: 100%;
  padding-top: 50px;
}

.form-review-container {
  width: 50%;
}

.review-item {
  background-color: var(--color-tertiary);
  padding: 30px;
  border-radius: 10px;
  list-style: none;
}

