<div class="banner">
    <img class="image-backdrop" [src]="'https://image.tmdb.org/t/p/w1280'+movie.backdrop_path" alt="Movie backdrop">
    <img class="image-poster" [src]="'https://image.tmdb.org/t/p/w780'+movie.poster_path" alt="Movie poster">
    <div class="filter-left"></div>
    <div class="filter-bottom"></div>
    <div class="banner-info">
        <h1 class="movie-title">{{movie.title}} <span class= movie-vote>{{movie.vote_average}}</span></h1>
        <div class="banner-body">
            <hr class="divider">
            <p class="movie-date">{{movie.release_date | date:"yyyy"}}</p>
            <span class="genre-name" *ngFor="let genre of movie.genres">{{genre.name}}</span>
            <hr class="divider">
            <p class="movie-overview">{{movie.overview}}</p>
            <button class="btn btn-add">Añadir a favoritos</button>
        </div>
    </div>
</div>
<div>
<app-reviews></app-reviews>
</div>