<div class="container form-review-container">
    <div class="text-center pt-3">
        <h3>¡Agrega un nuevo comentario!</h3>
    </div>
    <form class="form mt-5" [formGroup]="reviewForm" (ngSubmit)="onSubmit()" action="/">
        <div class="form-group row ml-3 mr-3">
            <label class="col-12" for="bodyReview"></label>
                <textarea placeholder="Ingrese su comentario" formControlName="body" class="form-control col-12" id="bodyReview" aria-describedby="bodyHelp" [ngClass]="{ 'is-invalid': submitted && f.body.errors }" ></textarea>
                <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                    <div *ngIf="f.body.errors.required">Comentario requerido requerido</div>
                    <div *ngIf="f.body.errors.required">El comentario debe tener mas de 30 caracteres</div>
                </div>
        </div>
        <div class="row submit-group ml-3 mr-3">
            <button type="submit" class="btn btn-primary btn-login col-12">Enviar comentario</button>
        </div>
    </form>
</div>
