<div class="container" *ngIf="movies.length>0; else elseBlock">
    <div class="genre-movie" *ngFor="let movie of movies">
        <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w300'+movie.poster" alt="Movie poster">
        <div class="hover-filter">
            <p class="movie-title">{{movie.title}}</p>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="no-results">
        <img class="no-results-image" src="../../../../assets/images/no-results.svg">
    </div>
</ng-template>