/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #00e676;
  --color-secondary: #263238;
  --color-tertiary: #37474f;
  --color-black: #000000;
  --color-grey: #eceff1;
  --color-white: #ffffff;
  --color-grey-shadow: rgba(0, 0, 0, 0.25);
  --gradient-primary: linear-gradient(90deg, #38f9d7 0%, #43e97b 100%);
  --text-title: normal bold 86px 'Montserrat', sans-serif;
  --text-subtitle: normal bold 28px/34px 'Montserrat', sans-serif;  
  --text-mobile-subtitle: normal bold 14px/17px 'Montserrat', sans-serif;  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--color-grey);
  background-color: var(--color-secondary);
}

.btn{
  font-size: 18px;
  font-weight: bold;
  color: var(--color-black);
  background: var(--gradient-primary);
  padding: 12px;
  border: none;
  border-radius: 8px;
  min-width: 200px;
  filter:  drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.btn:hover, .btn:focus{
  filter: drop-shadow(4px 4px 8px rgba(0, 230, 118, 0.70));
}

.btn-outline, .btn-outline:focus, .btn-outline:hover{
  font-size: 14px;
  background: none;
  min-width: auto;
  color: var(--color-primary);
}

.form-control{
  color: var(--color-grey);
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-grey);
}
.form-control:focus{
  color: var(--color-grey);
  background-color: var(--color-tertiary);
  border-color: var(--color-primary);
  box-shadow: 4px 4px 8px rgba(0, 230, 118, 0.25);

}

.carousel-indicators li {
  opacity: 1!important;
  background-color: var(--color-tertiary)!important;
}

.carousel-indicators .active{
  background-color: var(--color-primary)!important;
}

.feather {
  stroke: currentColor;
  fill: none;
}
