.navbar__all,
.navbar__min {
  background-color: var(--color-secondary);
  display: flex;
  position: fixed;
  align-items: center;
  height: 10vh;
  width: 100vw;
  z-index: 10;
  left: 0;
}

.navbar__all {
  top: 0;
}

.navbar__min {
  display: none;
}

.header__link-logo {
  width: 60px;
  height: 83px;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.header__logo {
  width: 100%;
  height: auto;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  max-height: 60px;
  flex-grow: 2;
}

.search-bar__input {
  color: var(--color-white);
  border-radius: 50px;
  padding: 12px 40px 12px 20px;
  background-color: transparent;
  border: 1px solid currentColor;
  opacity: 0;
  outline: none;
  transition: all 1s ease-in-out;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

.search-bar__input--active {
  opacity: 1;
}

.search-bar__input:focus {
  stroke: var(--color-primary);
  opacity: 1;
  border-color: var(--color-primary);
}

.search-bar__input:focus + label > .search-bar__icon {
  stroke: var(--color-primary);
}

.search-bar__label {
  margin-left: -40px;
  margin-bottom: 0;
}

.m-rigth-big {
  margin-right: 70px;
}

.btn {
  padding: 7px 14px;
  background-image: var(--gradient-primary);
  border-radius: 5px;
  color: var(--color-black);
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
}

.btn--big {
  width: 216px;
  display: inline-block;
  padding: 18px 21px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.search-bar .search-bar__icon {
  color: white;
  stroke: white;
  max-width: 28px;
}

.profile {
  position: relative;
}

.profile__icon {
  height: 40px;
  width: 40px;
}

.profile__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color-white);
  text-align: center;
  transition: all 2s;
  border-radius: 3px;
}

.profile__menu--visible {
  opacity: 0;
  width: 0;
  transition: none;
}

.profile__link {
  color: var(--color-secondary);
  text-decoration: none;
  padding: 6px 10px;
}

.profile__link:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

@media only screen and (max-width: 500px) {
  .disabled {
    display: none;
  }

  .disabled > .search-bar {
    margin: 0;
  }

  .navbar__all > *:nth-child(2n + 1) {
    display: none;
  }

  .navbar__min {
    display: flex;
    bottom: 0;
    justify-content: space-around;
    align-content: center;
  }

  .header__link-logo {
    margin: 0;
    max-width: 38px;
  }

  .search-bar {
    margin: 0px 35px 0px 10px;
    width: 100vw;
  }

  .search-bar__input:focus,
  .search-bar__input {
    margin-left: 0;
    width: 100%;
  }

  .search-bar__label {
    margin-left: -45px;
  }

  .search-bar__icon {
    max-width: 38px;
    stroke: var(--color-primary);
  }
}
