<nav class="navbar">
  <div class="navbar__all disabled" #searchMobile>

  <a class="header__link-logo" href="/">
    <img
      class="header__logo"
      src="assets/images/logo-primary-complete.svg"
      alt="Logo"
    />
  </a>
  <div class="search-bar" #searchMobile>
    <input #input class="search-bar__input" type="text" name="movie" id="movie" (keyup)="onUserType()" (focus)="onUserSearching($event)"/>
    <label class="search-bar__label" for="movie">
      <svg class="feather search-bar__icon">
        <use xlink:href="assets/images/icons/feather-sprite.svg#search"/>
      </svg>
    </label>
  </div>
  <a *ngIf="!isLogged; else elseBlock" class="btn m-rigth-big" href="#">Iniciar Sesion</a>
  <ng-template #elseBlock>
  <div class="profile m-rigth-big">
    <svg class="feather profile__icon" (click)="activeMenu()">
      <use xlink:href="assets/images/icons/feather-sprite.svg#user"/>
    </svg>
    <div class="profile__menu profile__menu--visible" #profileMenu>
      <a href="#" class="profile__link">Favoritos</a>
      <a href="#" class="profile__link">Configuracion</a>
      <a href="#" class="profile__link">Salir</a>
    </div>
  </div>
  </ng-template>
  </div>

  <div class="navbar__min">
    <a class="header__link-logo" href="#">
    <img
      class="header__logo"
      src="assets/images/logo-primary-short.svg"
      alt="Logo"
    />
    </a>
    <a href="#" (click)="activeBar()">
      <svg class="feather search-bar__icon">
        <use xlink:href="assets/images/icons/feather-sprite.svg#search"/>
      </svg>
    </a>
    <a href="#">
      <svg class="feather search-bar__icon">
        <use xlink:href="assets/images/icons/feather-sprite.svg#user"/>
      </svg>
    </a>
  </div>
  
</nav>
